.banners {
  padding-top: 0;
  letter-spacing: normal;

  &__inner {
    display: flex;
    justify-content: space-between;

    @include media-3 {
      flex-direction: column;
    }
  }

  &__item {
    max-width: 300px;
    width: 100%;
    padding: 79px 32px;
    @extend %bg;
    border-radius: 6px;
    color: $dark-500;
    text-transform: uppercase;

    @include media-2 {
      padding: 76px 32px 30px;
    }

    @include media-3 {
      max-width: 100%;
      object-fit: contain;
      margin: 0 auto;
    }

    @include media-4 {
      padding: 76px 70px 34px 15px;
    }

    &:not(:last-child) {
      margin-right: 20px;

      @include media-3 {
        margin: 0 auto 15px;
      }
    }

    &:first-child {
      max-width: 630px;
      color: $white;

      @include media-3 {
        max-width: 100%;
      }

      .banners {
        &__text {
          text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
        }

        &__title {
          max-width: 360px;
          text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
        }

        &__link {
          text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
          border-color: $white;
        }
      }
    }
  }

  &__text {
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.1em;
  }

  &__title {
    max-width: 165px;
    margin-bottom: 6px;
    font-family: "Ruda", sans-serif;
    font-weight: 600;
    font-size: 30px;

    @include media-2 {
      font-size: 20px;
      margin-bottom: 40px;
    }

     @include media-3 {
       font-size: 24px;
       margin-bottom: 70px;
     }
  }

  &__link {
    padding-bottom: 6px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
    border-bottom: 2px solid $dark-500;
  }

}