.footer {
  background-color: $dark-800;
  font-size: 14px;
  color: $white;
  letter-spacing: normal;

  &__top {
    padding: 33px 0;

    @include media-4 {
      padding: 24px 0;
    }
  }

  &__logo {
    margin-bottom: 25px;

    @include media-2 {
      margin: 0 auto 25px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @include media-2 {
      flex-direction: column-reverse;
    }
  }

  &__list {
    position: relative;
    column-count: 3;
    column-gap: 77px;

    @include media-1 {
      column-gap: 50px;
    }

    @include media-2 {
      text-align: left;
      padding-left: 50px;
      column-width: 120px;
      margin-bottom: 36px;
      margin: 0 auto 36px;

      &::after {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        bottom: -30px;
        width: 100%;
        height: 1px;
        // background-color: red;
        background-color: rgba(#fff, 0.1);
      }
    }

    @include media-4 {
      column-gap: normal;
    }
  }

  &__item {
    margin-bottom: 13px;
    padding: 4px;
    overflow: hidden;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    break-inside: avoid-column;

    @include media-3 {
      margin-bottom: 10px;

    }
  }

  &__link {
    outline: transparent;
    transition: opacity 0.3s;

    &:focus {
      box-shadow: 0 0 0 3px #EFF6E7;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $green-200;
    }
  }

  .social {
    width: 100%;

    @include media-2 {
      position: relative;
      justify-content: center;
      margin-bottom: 45px;

      &::after {
        content: '';
        position: absolute;
        display: block;
        bottom: -24px;
        width: calc(100% + 30px);
        height: 1px;
        background-color: rgba(#fff, 0.1);
      }
    }
  }
}

.form-subscribe {
  height: 100%;
  margin-right: 70px;
  position: relative;
  max-width: 306px;
  width: 100%;
  font-size: 14px;
  color: $dark-800;

  @include media-2 {
    margin-right: 40px;
    margin: 0 auto;
  }

  &__text {
    color: $white;
    margin-bottom: 13px;
  }

  &__field {
    width: 100%;
    padding: 12px;
    background-color: $white;
    border-radius: 6px;

    @include media-4 {
      padding: 10px;
    }
  }

  &__button {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 14px 16px;
    background-color: $green-900;
    border-radius: 0 6px 6px 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    text-transform: uppercase;
    color: $white;
    outline: transparent;
    transition: background-color 0.3s,
      box-shadow 0.3s;

    @include media-4 {
      padding: 12px 16px;
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
      border-radius: 0 6px 6px 0;
    }

    &:hover {
      background-color: #4D810C;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba($white, 0.5);
    }
  }
}

.contacts {
  @include media-2 {
    text-align: center;
  }


  &__item {
    margin-bottom: 18px;
  }

  &__link {
    outline: transparent;
    transition: opacity 0.3s;

    &:focus {
      box-shadow: 0 0 0 3px #EFF6E7;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $green-200;
    }
  }
}

.footer-botom {
  position: relative;
  padding: 24px 0;

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(#fff, 0.1);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;


    @include media-4 {
      flex-direction: column-reverse;
    }
  }

  &__copy {
    outline: transparent;

    &:focus {
      box-shadow: 0 0 0 3px #EFF6E7;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $green-200;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 24px;

      @include media-4 {
        margin-bottom: 24px;
      }
    }
  }
}