.header {

  &__top {
    background-color: $dark-800;
    padding: 17px 0 15px;
    font-size: 13px;
    letter-spacing: 0.03em;
    color: $white;
    text-transform: uppercase;

    @include media-2 {
      padding: 16px 0 15px 7px;
    }
  }

  &__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    background-color: $green-900;

    @include media-2 {
      padding: 6px 0;
    }
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__navigation {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 10px;
  }

  &__logo {
    margin-right: 24px;

    @include media-1 {
      display: none;
    }

  }

  &__logo-min {
    display: none;
    flex: 0 0 40px;
    margin-right: 30px;

    @include media-1 {
      display: inline;
    }
  }

  &__catalog {
    position: relative;
    width: 100%;
    max-width: 241px;
    padding: 15px 38px 15px 55px;
    background-color: $white;
    border-radius: 6px;
    margin-right: 30px;
    font-weight: 600;
    font-size: 14px;
    color: $green-900;
    transition: background-color 0.3s;

    @include media-2 {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 24px;
      right: 18px;
      width: 7px;
      height: 4px;
      mask: url('../images/sprite.svg#catalog-arrow') center / cover no-repeat;
      background-color: $green-900;
    }

    &:hover {
      background-color: $green-200;
    }
  }

  &__catalog-line {
    position: absolute;
    top: 25px;
    left: 17px;
    display: block;
    width: 20px;
    height: 1px;
    background-color: $green-900;

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 25px;
      height: 1px;
      background-color: $green-900;
    }

    &::before {
      top: 7px;
    }

    &::after {
      bottom: 7px;
    }
  }
}


.headder-top {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: none;
    width: 100%;

    @include media-2 {
      display: flex;
      justify-content: space-between;
    }
  }

  &__btn {
    position: relative;
    display: block;
    padding: 8px 0;
  }

  &__btn-line {
    display: block;
    width: 30px;
    height: 2px;
    background-color: $white;

    &::after,
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 30px;
      height: 2px;
      background-color: $white;
    }

    &::after {
      bottom: 0;
    }

    &::before {
      top: 0;
    }
  }

  &__menu-items {
    display: flex;

    .headder-top {
      &__link {
        &--delivery {
          padding-left: 32px;
        }

        &--hotline {
          padding-left: 22px;
        }
      }
    }
  }

  &__menu-item {
    &:not(:last-child) {
      margin-right: 31px;
    }
  }

  &__items {
    display: flex;

    @include media-2 {
      display: none;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 25px;
    }

    &--right {
      &:not(:last-child) {
        margin-right: 48px;
      }
    }
  }

  &__link {
    position: relative;
    font-weight: 700;
    letter-spacing: 0.03em;
    outline: transparent;
    transition: opacity 0.3s, color 0.3s;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: $white;
      transition: background-color 0.3s;
    }

    &--delivery {
      padding: 3px 0 3px 45px;

      &::before {
        mask: url('../images/sprite.svg#icon-del-address') center / cover no-repeat;
        width: 32px;
        height: 22px;
      }
    }

    &--hotline {
      padding: 3px 0 3px 33px;

      &::before {
        mask: url('../images/sprite.svg#icon-tel') center / cover no-repeat;
        width: 22px;
        height: 22px;
      }
    }

    &:focus {
      box-shadow: 0 0 0 3px #EFF6E7;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $green-200;
      box-shadow: none;

      &::before {
        background-color: $green-200;
      }
    }
  }
}

.form-search {
  position: relative;
  max-width: 576px;
  width: 100%;
  font-size: 14px;
  color: $dark-800;
  height: 50px;
  transition: all 0.5s;
  z-index: 1;

  @include media-2 {
    position: absolute;
    top: 62px;
    right: 0;
    max-width: 100%;
    height: 0;
    overflow: hidden;
  }

  &--active {
    height: 50px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    display: block;
    width: 20px;
    height: 20px;
    mask: url('../images/sprite.svg#icon-search') center / cover no-repeat;
    background-color: $dark-800;
  }

  &__field {
    width: 100%;
    padding-left: 51px;
    height: 50px;
    background-color: $white;
    border-radius: 6px;

    @include media-2 {
      display: none;
    }
  }

  &__field-adaptiv {
    display: none;
    width: 100%;
    padding: 14px 0 14px 51px;
    background-color: $white;
    border: 1px solid $dark-800;

    @include media-2 {
      display: block;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px 52px;
    height: 100%;
    background-color: $dark-800;
    border-radius: 0 6px 6px 0;
    font-weight: 600;
    color: $white;
    text-transform: uppercase;
    outline: transparent;
    transition: background-color 0.3s;

    @include media-2 {
      border-radius: 0px;
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
      border-radius: 0 6px 6px 0;

      @include media-2 {
        border-radius: 0px;
      }
    }

    &:hover {
      background: rgba(49, 53, 43, 0.85);
    }

    &:active {
      background-color: $dark-800;
      border-radius: 0 6px 6px 0;
      color: rgba(255, 255, 255, 0.5);

      @include media-2 {
        border-radius: 0px;
      }
    }

  }
}

.user-nav {
  display: flex;
  justify-content: space-between;

  &__item {
    &:not(:last-child) {
      margin-right: 12px;

      @include media-2 {
        margin-right: 0px;
      }
    }
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba($white, 0);
    outline: transparent;
    transition: background-color 0.3s;

    @include media-2 {
      transform: scale(0.8);
    }

    &:focus {
      box-shadow: inset 0 0 0 3px #EFF6E7;
      border-radius: 3px;
    }

    &:hover {
      background-color: rgba(#fff, 0.1);
      border-radius: 3px;
    }

    &:active {
      &::before {
        opacity: 0.5;
      }
    }

    &::before {
      content: '';
      display: block;
      background-color: $white;
      transition: opacity 0.3s;
    }

    &--search {
      display: none;

      @include media-2 {
        display: flex;
      }

      &::before {
        width: 30px;
        height: 30px;
        mask: url('../images/sprite.svg#icon-search') center / cover no-repeat;
      }
    }

    &--user {
      @include media-2 {
        display: none;
      }

      &::before {
        width: 25px;
        height: 32px;
        mask: url('../images/sprite.svg#icon-user') center / cover no-repeat;
      }
    }

    &--heart {
      &::before {
        width: 32px;
        height: 30px;
        mask: url('../images/sprite.svg#icon-heart') center / cover no-repeat;
      }
    }

    &--cart {
      &::before {
        width: 32px;
        height: 30px;
        mask: url('../images/sprite.svg#icon-cart') center / cover no-repeat;
      }
    }
  }

  &__sum {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3px;
    top: 2px;
    right: 25px;
    min-width: 20px;
    height: 20px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 13px;
    color: $red-900;
    background-color: $white;
  }
}

.mob-menu {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 300px;
  width: 100%;
  height: 100vh;
  font-size: 18px;
  line-height: 1.2;
  text-transform: capitalize;
  color: $dark-800;
  background-color: $white;
  overflow-y: auto;
  z-index: 5;
  transform: translateX(-200%);
  transition: transform 0.5s;

  &--active {
    transform: translateX(0);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 26px 26px 15px;
  }

  &__btn {
    &::after,
    &::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background-color: $dark-900;
      border-radius: 1px;
      transform: rotate(45deg)
    }

    &::before {
      content: '';
      transform: translateY(2px) rotate(-45deg)
    }
  }

  &__user {
    background-color: $green-900;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    color: $white;
  }

  &__user-item {
    position: relative;

    &:not(:last-child) {
      &::after {
        content: '';
        position: absolute;
        top: 5px;
        right: 0px;
        width: 2px;
        height: 25px;
        background-color: $white;
      }
    }
  }

  &__user-link {
    transition: opacity 0.3s;

    &:active {
      opacity: 0.5;
    }

    &--login {
      position: relative;
      display: flex;
      align-items: center;
      padding: 5px 0 5px 40px;
      margin-right: 15px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 25px;
        height: 32px;
        mask: url('../images/sprite.svg#icon-user') center / cover no-repeat;
        background-color: $white;
      }
    }

    &--reg {
      margin-left: 15px;
    }
  }

  &__catalog {
    position: relative;
    display: block;
    padding: 15px 15px 15px 55px;
    border-bottom: 1px solid rgba(193, 193, 193, 0.3);
  }

  &__catalog-line {
    position: absolute;
    top: 25px;
    left: 17px;
    display: block;
    width: 20px;
    height: 1px;
    background-color: $dark-800;

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 25px;
      height: 1px;
      background-color: $dark-800;
    }

    &::before {
      top: 7px;
    }

    &::after {
      bottom: 7px;
    }
  }

  &__info {
    padding: 24px 15px;
    border-bottom: 1px solid rgba(193, 193, 193, 0.3);
  }

  .contacts {
    &__link {
      position: relative;
      display: block;
      padding-left: 40px;
      text-align: left;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: $dark-800;
      }

      &--phone {
        &::before {
          mask: url('../images/sprite.svg#icon-tel') center / cover no-repeat;
          width: 24px;
          height: 24px;
        }
      }

      &--gis {
        &::before {
          top: 5px;
          mask: url('../images/sprite.svg#icon-gis') center / cover no-repeat;
          width: 25px;
          height: 32px;
        }
      }
    }
  }

  &__list {
    padding: 24px 15px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__link {
    display: block;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }
}