.promo-stocks {
  background-color: $silver-100;

  @include media-4 {
    padding: 48px 23px;
  }

  &__inner {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 45px;

    @include media-1 {
      gap: 15px;
    }

    @include media-2 {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-3 {
      grid-template-columns: repeat(2, 1fr);
       margin-bottom: 24px;
    }

    @include media-4 {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    @include media-4 {
      height: 124px;
    }
  }

  .filter {
    margin-right: 0px;
    padding-left: 0;

    @include media-4 {
      margin-bottom: 13px;
    }

    &__item {

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  .product-card {
    flex-direction: row;
    padding: 12px;
    background-color: $white;

    &__img-link {
      margin-right: 11px;
      max-width: 100px;
      width: 100%;
      max-height: 100px;
      height: 100%;
      padding-bottom: 0;

      &::after {
        display: none;
      }
    }

    &__img {
      position: static;
    }

    &__info {
      width: 100%;
      padding: 0;
    }

    &__title {
      margin-bottom: 7px;
    }

    &__bottom {
      flex-direction: column;
    }

    &__worth {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: end;
      flex-wrap: wrap;
    }

    &__rating {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      font-weight: bold;
      font-size: 14px;
      line-height: 1;
      color: $dark-500;

      &::after {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        mask: url('../images/sprite.svg#star') center / cover no-repeat;
        background-color: $yellow-900;
      }
    }
  }

  .badges {
    top: 13px;
    left: 12px;
    z-index: 1;
  }

  .prices {
    flex-direction: row-reverse;
    align-items: end;

    &__item--old {
      margin-right: 10px;
    }

    &__item--new {
      margin-right: 12px;
      font-weight: 600;
      font-size: 20px;
      line-height: 1;
      color: $dark-500;

      span {
        font-size: 15px;
      }
    }
  }

  &__btn {
    display: block;
    margin: 0 auto;
  }
}