.top-product {

  &__inner {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-gap: 30px;
     margin-bottom: 50px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
  }
}



