.product-card {
  position: relative;
  padding-top: 57px;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  transition: border-color 0.3s;

  &:hover {
    border-color: $green-900;
  }

  &__favourits {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 6px;
    width: 44px;
    height: 44px;
    outline: transparent;

    @include media-4 {
      top: 6px;
      right: 0px;
    }

    &::before {
      content: "";
      display: block;
      width: 32px;
      height: 29px;
      mask: url('../images/sprite.svg#icon-heart') center / cover no-repeat;
      background-color: $grey;
      transition: background-color 0.3s;

      @include media-4 {
        width: 24px;
        height: 21px;
      }
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      &::before {
        background-color: $yellow-900;
      }
    }

    &:active {
      opacity: 0.5;
      box-shadow: none;
    }
  }

  &__img-link {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 72.15%;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 48px;
      height: 48px;
      background-image: url('../../images/icons/loup-0card.svg');
      transform: translateY(-50%) translateX(-50%);
      opacity: 0;
      z-index: 5;
      transition: opacity 0.3s;
    }

    &::after {
      content: '';
      position: absolute;
      opacity: 0;
      transition: opacity 0.3s;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      @extend %bg;
      transition: opacity 0.3s;
    }

    &:focus {
      &::before {
        opacity: 1;
      }

      &::after {
        opacity: 1;
      }
    }

    &:hover {
      &::before {
        opacity: 1;
      }

      &::after {
        opacity: 1;
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__link {
    width: fit-content;
    @include line-clamp(3);
  }

  &__info {
    height: 100%;
    padding: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-4 {
      padding: 12px;
    }
  }

  &__title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    color: $dark-900;

    @include media-4 {
      margin-bottom: 50px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__cart {
    padding: 8px;
    background-color: $green-900;
    border-radius: 3px;
    outline: transparent;
    transition: background-color 0.3s;

    &::before {
      content: "";
      display: block;
      width: 16px;
      height: 15px;
      mask: url('../images/sprite.svg#icon-cart') center / cover no-repeat;
      background-color: $white;
      transition: opacity 0.3s;
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba($green-200, 0.5);
      border-radius: 3px;
    }

    &:hover {
      background-color: #4D800C;
    }

    &:active {
      background-color: $green-900;
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);

      &::before {
        opacity: 0.5;
      }
    }
  }
}

.badges {
  position: absolute;
  top: 12px;
  left: 12px;

  &__item {
    display: none;
    padding: 3px 6px;
    width: fit-content;
    border-radius: 6px;
    font-weight: 700;
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: $white;

    &:not(:last-child) {
      margin-bottom: 6px;
    }

    &--new {
      background-color: $green-900;
    }

    &--on {
      display: block;
    }

    &--sale {
      background-color: $red-900;
    }

    &--hit {
      background-color: $orange-900;
    }
  }
}

.prices {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 14px;
  line-height: 1;
  color: $dark-500;

  &__item {
    &--old {
      position: relative;
      color: $silver-600;
      width: fit-content;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background-color: $silver-600;
        transform: rotate(-15deg) translateY(7px);
      }
    }
  }
}

.balance {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 10px;
  line-height: 100%;
  text-transform: uppercase;

  &__item {
    display: none;

    &--more {
      color: $green-900;
    }

    &--less {
      color: $red-900;
    }

    &--missing {
      color: $grey;
    }

    &--on {
      display: block;
    }
  }

}