.social {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 12px;
  }

  &__link {
    display: block;
    outline: transparent;
    width: 32px;
    height: 32px;
    transition: opacity 0.3s;

    &:focus {
      box-shadow: 0 0 0 3px #E0EDCF;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      filter: invert(7%) sepia(20%) saturate(218%) hue-rotate(37deg) brightness(99%) contrast(91%);
    }
  }
}